.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.signup-container {
    display: flex;
    width: 850px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.signup-welcome {
    flex: 1;
    background: linear-gradient(to right, #ffa457, #ff7b42);
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup-welcome h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.signup-welcome img {
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

.signup-welcome p {
    font-size: 16px;
    margin-bottom: 20px;
}

.input-icon-wrapper {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;  
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}

.input-icon-wrapper input {
    padding-right: 35px; 
}

.login-button {
    padding: 12px 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: white;
    color: #ff7b42;
}

.signup-form {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;/
}


.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.social-icons i {
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.sign-up-button {
    width: 100%;
    padding: 12px;
    background-color: #ff7b42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #ffa457, #ff7b42);
}

.sign-up-button:hover {
    opacity: 0.9;
}